{% load static %}
<div class="w-full text-white bg-[#262626] p-2 flex gap-2 flex-col md:flex-row justify-evenly items-center">
    <div class="text-white flex justify-center items-center">
        <img src="{% static 'Images/Logo.png'%}" width="100px" alt="Logo"/>
        <h1 class="font-Averox text-3xl">theverdiend</h1>
    </div>
    <div>
        <ul>
            <li>Contact</li>
            <li>Support</li>
            <li>HQ</li>
        </ul>
    </div>
    <div class="flex gap-2">
        <i class="bi-instagram"></i>
        <i class="bi-facebook"></i>
        <i class="bi-twitter"></i>
        <i class="bi-google"></i>
    </div>
</div>